header {
  background-color: deepskyblue;
  padding: 30px;
}
body {
  background-color: lightcyan;
}
.container {
  overflow: hidden;
}
main {
  float: left;
  width: 600px;
}
.sample {
  margin-left: 80px;
  width: 900px;
  border-collapse: collapse;
}
.sample th,td {
  border: solid 1px;
  text-align: center;
}
.img {
  float: left;
}
.sidebar {
  float: right;
  background-color: aliceblue;
  width: 400px;
  padding-bottom: 100000px;
  margin-bottom: -100000px;
  }
  footer {
    text-align: center;
  background-color: lawngreen;
  padding: 20px;
  clear: left;
  }