header {
  background-color: deepskyblue;
  padding: 50px; 
}

body {
  background-color: lightcyan;
  margin: 0;
}

.container {
  overflow: hidden;
}

.main {
  float: left;
  width: 80%;
}

.sample {
  margin-left: 80px;
  width: 900px;
  border-collapse: collapse;
}

.sample th,.sample td {
  border: solid 1px;
  text-align: center;
}

.img {
  width: 30%;
  float: left;
}

img {
  width: 100%;
}

.ccc {
  margin-left: 100px;
}

.test {
  width: 70%;
  text-align: center;
}

.sidebar {
  float: right;
  background-color: cornsilk;
  width: 20%;
  padding-bottom: 100000px;
  margin-bottom: -100000px;
  }

  footer {
  text-align: center;
  background-color: lawngreen;
  padding: 20px;
  clear: left;
  }