header {
  background-color: deepskyblue;
  padding: 30px;
}
body {
  background-color: lightcyan;
}
.aaa th,td {
  border: solid 1px;
}
table {
  margin: auto;
  text-align: center;
}
.test h3 {
  text-align: center;
}
.content {
  float: right;
  background-color: yellowgreen;
  }
  footer {
    text-align: center;
  background-color: lawngreen;
  padding: 20px;
  }